<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>base page</title>
    {% endblock %}
</head>
<body>
    <header>
        <h2>This is the header portion</h2>
    </header>
    <main>

        {% block content %}
        <h4>Welcome to the base page </h4>
        {% endblock %}

        <p>cvbnhyui gfwhtyjf uygiy hiuo9eq ugqyi7ouf8 yftugio</p>
    </main>
    <footer>
        <p>This is footer</p>
    </footer>
</body>
</html>